* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

.player-turn {
    color: #61e8e1;
    font-size: 4vmin;
}

.container {
    height: 75vh;
    width: 260vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-box {
    height: 24vmin;
    width: 22vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vmin;
}

#game-display {
    color: #191917;
    font-size: 3vmin;
}

.g-box {
    height: 5vmin;
    width: 5vmin;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 3vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

.game {
    height: 70vmin;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3vmin;
}

.big-box {
    height: 18vmin;
    width: 18vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

.box {
    height: 5vmin;
    width: 5vmin;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 3vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

#reset-btn {
    padding: 0.8rem;
    font-size: 1.25rem;
    background-color: #191917;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 0.8rem;
    font-size: 1.25rem;
    background-color: #191917;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #ffffc7;
    font-size: 4vmin;
}

.msg-container {
    height: 12vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.hide {
    display: none;
}